/* @import 'tailwindcss'; */
@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 10px 30px;
  border: 1px solid orangered;
  background: transparent;
  color: orangered;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.4px;
  cursor: pointer;
  transition: 0.5s;
  margin-right: 10px;
}

.btn.btn-dark {
  color: #f1f1f1;
  background: orangered;
}

.btn.btn-dark:hover {
  color: orangered;
  background: transparent;
}

.btn:hover {
  background: orangered;
  color: #fff;
}

/* Navbar Style  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 150px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar .navbar-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1.3px;
  color: #111;
  font-weight: 600;
}

.navbar .navbar-link ion-icon {
  color: orangered;
}

.navbar .navbar-list {
  display: flex;
  gap: 10px;
  list-style: none;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar .navbar-list .navbar-item.active {
  color: orangered;
}

/* Not Found Style */
.not-found {
  display: flex;
  height: 100vh;
  justify-content: space-between;
  padding: 100px 150px 50px;
  /* align-items: center; */
  gap: 20px;
}

.not-found .not-found-data {
  flex-basis: calc(50% - 20px);
  text-align: center;
}

.not-found .not-found-data .not-found-heading {
  font-size: 240px;
  color: orangered;
}

.not-found .not-found-data .not-found-text {
  font-size: 20px;
  margin-top: -50px;
}

.not-found .not-found-data .not-found-link {
  margin-top: 10px;
}

a {
  font-size: 16px;
  color: orangered;
  text-transform: uppercase;
}

.not-found .not-found-image {
  flex-basis: calc(50% - 20px);
}

.not-found .not-found-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Main Style  */
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main-container h1 {
  font-size: 60px;
}

.main-container h1 span {
  color: orangered;
}

.main-container p {
  font-size: 18px;
  font-weight: 500;
}

/* Form style  */
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form-container form {
  width: 400px;
  padding: 30px 50px;
  box-shadow: 2px 2px 10px rgba(255, 69, 0, 0.6);
  border-radius: 5px;
  border-right: 1px solid orangered;
  border-bottom: 1px solid orangered;
}

.form-container form .form-heading {
  font-size: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
  letter-spacing: 1.5px;
}

.form-container form .form-heading span {
  position: relative;
  color: orangered;
}

.form-container form .form-heading span::before {
  content: '';
  position: absolute;
  background-color: orangered;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
}

.form-container form .input-group {
  margin-bottom: 10px;
}

.form-container form .input-group .form-label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: orangered;
  font-weight: 500;
  letter-spacing: 1.1px;
}

.form-container form .input-group .form-input {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  margin-top: 3px;
  border-radius: 2px;
}

.form-container form .input-group .form-input:focus {
  border-color: orangered;
  color: orangered;
}

.form-container form p {
  margin-top: 10px;
  font-size: 15px;
}
